<table class="table table-hover">
<thead>
    <tr>
      <th></th>
      <th>average</th>
    </tr>
  </thead>
   <tbody>
    <% values.each do |value| %>
    <tr> 
      <td><%= value %></td> 
      <%# <td><%= rating.updated_at %> </td> %>
    </tr>
  <% end %>
  </tbody>
</table>
